<ion-view class="fondo1" view-title="Bio-Tech">
  <ion-content class="padding fondo1">
  	<div class="row">
  		<div class="col borde"><video autoplay controls src="" width="550" height="400"></video></div>
  		<div class="col lugar letra">El agua es algo muy importante para la vida en el planeta tierra, sin el agua practicamaente no existiriamos o si se llegara a acabar simplemente moririamos. El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra. Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua</div>
  	</div>
  </ion-content>
</ion-view>
