<ion-view class="fondo1" auto-aling view-title="Bio-Tech">
  <ion-content class="padding fondo1">
  	<div class="row centrado">
  		<div class="col"><video autoplay class="estugar" controls src="../Video/sinmenciones.mp4"></video></div>
  	</div>
  	<div class="row">
  		<div class="col lugar letra"><h1 class="letra1">Importancia Del Agua En Nuestro Planeta</h1>El agua es algo muy importante para la vida en el planeta tierra, sin el agua practicamaente no existiriamos o si se llegara a acabar simplemente moririamos. El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra. Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua</div>
  	</div>
  	<div class="borde3"></div>	
  	<br><br><br>
  	<h1 class="letra1">Tabla Nutricional Para Los Joven</h1>
  	<div class="row">
  		<div class="col letra2">Comida</div>
  		<div class="col letra2">Calorias</div>
  		<div class="col letra2">Carboidratos</div>
  		<div class="col letra2">Cuanto Consumir</div>
  		<div class="col letra2">Porcentaje</div>
  	</div>
  	<div class="row">
  		<div class="col letra3">Terminos</div>
  		<div class="col letra3">Terminos</div>
  		<div class="col letra3">Terminos</div>
  		<div class="col letra3">Terminos</div>
  		<div class="col letra3">Terminos</div>
  </ion-content>
</ion-view>
