.fondo1{
	background-color: #333333;
}
.letra{
	color: #FFFFFF;
	font-size: 26px;
	font-family: Berlin Sans FB; 
	text-align: center;
}
.borde{
	border-right: solid white 1px;
}
.lugar{
	padding: 75px;
}
canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
background-color: #DABDD8;
}