.fondo1{
	background-color: #333333;
}
.letra{
	color: #FFFFFF;
	font-size: 26px;
	font-family: Berlin Sans FB; 
	text-align: center;
}
.letra1{
	color: #666666;
	font-family: Berlin Sans FB; 
	text-align: center;
}
.borde{

}
.lugar{
	padding: 75px;
}
canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
background-color: #DABDD8;
}
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  align-items: center;
  justify-content: center;
}

p {
    margin-top: 20px;
    text-align: center;
}

canvas {
  display: block;
  margin: 20px auto;
  background: black url("http://api.thumbr.it/whitenoise-560x800.png?background=0f1517ff&noise=626262&density=67&opacity=15") repeat fixed center;
}
.estugar{
	width: 320px;
	height: 200px;
}
.centrado{
	text-align: center;
}
.letra2{
	color: #CCCCCC;
	text-align: center;
	font-size: 18px;
	font-family: arial;
	border: solid white 1.5px; 
}
.letra3{
	color: #CCCCCC;
	text-align: center;
	font-size: 18px;
	font-family: arial;
	border-bottom: solid white 2px;
	border-right: solid red 2px;
}
.borde3{
	border-bottom: solid red 0.5px;
}